{% extends "layouts/base.html" %}

{% block content %}
<div class="container mt-5">
  <h1 class="mb-4">{{ task.name }}</h1>

  <div class="mb-4">
    <a href="{% url "manager:task-delete" pk=task.id %}" class="btn btn-danger">Delete</a>
    <a href="{% url "manager:task-update" pk=task.id %}" class="btn btn-primary">Update</a>
  </div>

  <ul class="list-group">
    <li class="list-group-item"><strong>Name:</strong> {{ task.name }}</li>
    <li class="list-group-item"><strong>Description:</strong> {{ task.description }}</li>
    <li class="list-group-item"><strong>Deadline:</strong> {{ task.deadline }}</li>
    <li class="list-group-item"><strong>Is completed:</strong> {{ task.is_completed }}</li>
    <li class="list-group-item"><strong>Priority:</strong> {{ task.priority }}</li>
    <li class="list-group-item"><strong>Type of the task:</strong> {{ task.task_type }}</li>
    {% if task.project %}
      <li class="list-group-item"><strong>Part of the tasks of:</strong> {{ task.project }} project</li>
    {% endif %}
  </ul>
</div>
{% endblock %}

